@font-face {
    font-family: Amris;
    src: url('amrys-bold.otf');
}
@font-face {
    font-family: Dylan;
    src: url('dylan.ttf');
}

body{
    background-color: rgb(40, 40, 40);
}



.up{
    position: absolute;
    width: 100.1%;
    height: 15%;
    left: -0.1%;
    top: -1%;
    background: rgb(255,255,255);
}

.up p{
    font-size: 200%;
    width: 100%;
    position: absolute;
    text-align:center;
    top: -10%;
    color: black;
    font-family: Amris;
    user-select: none;
}

h1{
    font-size: 150%;
    width: 30%;
    color: black;
    font-family: Amris;
    position: absolute;
    left: 12px;
    background-color: rgb(255, 255, 255);
    /*border-radius: 20%;*/
    
}

.general{
    font-size: 130%;
    width: 80vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    /*border-radius: 20%;*/
    left: 15px;
    background-color: rgb(255,255,255);
}

span{
    color: rgb(166, 138, 214);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    color: black;
    font-size: 130%;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    height: 30%;
    background-color: white;
    /*border-radius: 20%;*/

}

ol{
    color: white;
    font-size: 130%;
    width: 70%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: white;
    /*border-radius: 20%;*/
}

a{
    color: rgb(166, 138, 214);
    text-decoration: none;
}

img{
    width: 50%;
    position: absolute;
    left: 2%;
    
}
